.input-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.input-row:after {
  content: "";
  display: table;
  clear: both;
}

.date-picker-create {
  width: 80%
}

.row-task {
  border-style: solid;
  padding: 10px;
  border-width: 2px;
  border-color: grey;
  box-shadow: 2px 5px #9c9c9c36;
  width: 90%;
  margin-top: 5px;
}
